img {
    max-width: 15rem;
}

label {
    width: 100%;
}

input {
    width: 100%;
    max-width: 540px;
    font-size: 1.2rem;

    padding: 1rem;
    border: 3px solid var(--black);
    border-radius: .5rem;
    box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    max-width: 450px;
    padding: 1rem;
}

.convertButton {
    width: 7.2rem;
    height: 3.6rem;
    font-size: 1.2rem;

    margin: 1.4rem 0;
    color: var(--white);
    background: var(--black);
    font-weight: 600;

    border: none;
    border-radius: .5rem;
    box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    opacity: 0.9;
    transition: .2s;
}

.convertButton:hover {
    opacity: 1;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;

    min-height: 3.6rem;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
    
    color: var(--white);
    background: var(--black);
    border-radius: .5rem;
    border: 3px solid var(--white);
    box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
}